{#
/**
 * @file
 * YGS Locations map block template.
 *
 * @ingroup themeable
 */
#}
<section class="content">
  <div class="container">
    <section class="messages">
    </section>
    <div class="row">
      <div class="col-sm-12 categories copy">
        <div id="ygs-locations-map" class="map">
          <div class="map_area map-canvas hidden-xs" style="height: 400px;"></div>
          <div class="row">
            <div class="map_controls col-lg-12">
              <div class="row">
                <div class="col-lg-12">
                  <div class="form" role="form">
                    <div class="row">
                      <div class="col-sm-5 loc">
                        <div class="form-group">
                          <div class="input-group search">
                            <span class="input-group-btn with-geo">
                              <a class=" btn btn-default locateme" title="Locate Me">
                                <span class="inline-hidden-sm">{{ 'Locate Me'|t }}</span>
                              </a>
                            </span>
                            <label class="sr-only">{{ 'Address'|t }}</label>
                            <input type="text" class="form-control search_field" placeholder="Enter name, ZIP, or address"/>
                            <span class="input-group-btn btn-submit">
                              <a class=" btn btn-default">{{ 'Search'|t }}</a>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label class="sr-only">{{ 'Distance'|t }}</label>
                          <select class="distance_limit_value distance_limit form-control">
                            <option class="all_locations" value="">{{ 'All locations'|t }}</option>
                            <option value="5">{{ '5 miles'|t }}</option>
                            <option value="10" selected>{{ '10 miles'|t }}</option>
                            <option value="30">{{ '30 miles'|t }}</option>
                            <option value="50">{{ '50 miles'|t }}</option>
                            <option value="100">{{ '100 miles'|t }}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="btn-group-justified btn-group tag_filters form-group"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="messages"></div>
          </div>
          <br style="clear:both;"/>
        </div>
      </div>
    </div>
  </div>
</section>
