{#
/**
 * @file
 * YGS Branch Sessions.
 *
 * Available variables:
 * - teasers: extended_teasers of session nodes.
 *
 * @ingroup themeable
 */
#}
{{ attach_library('ygs_branch/ygs_branch_sessions') }}
<div class="row">
  <div class="col-xs-12 branch-sessions-group">
    <div class="branch-sessions-group-slider">
      {% for teaser in teasers %}
        {% if teaser.included_in_membership %}
          {% set teaser_classes = 'views-row row-eq-height included-in-membership-wrapper' %}
        {% else %}
          {% set teaser_classes = 'views-row row-eq-height' %}
        {% endif %}
        <a class="{{ teaser_classes }}" href="{{ teaser.url }}" target="_blank">
          <div class="group_time">
            {{ teaser.rounded_time }}
          </div>
          {% if teaser.included_in_membership %}
            <div class="included-in-membership"></div>
          {% endif %}
          <div class="inner">
            <h4>{{ teaser.program_title }}</h4>
            <h3>{{ teaser.class_title }}</h3>
            <div class="time">{{ teaser.time }}</div>
            {{ teaser.description }}
            {% if teaser.ticket_required %}
              <i class="ticket">{{ 'Ticket Required'|t }}</i>
            {% endif %}
          </div>
        </a>
      {% endfor %}
    </div>
    {% if teasers is empty %}
    <div class="col-xs-12">
      <p>{{ 'It looks like there are no classes / sessions matching your search criteria.'|t }}</p>
    </div>
    {% endif %}
  </div>
</div>
